
.popularctg{
  @apply w-full h-fit flex flex-col items-center justify-center relative px-10
}

.popularctg-title{
  font-family: "Poppins";
  @apply w-full h-fit py-5 items-center justify-center text-[96px] max-md:text-[58px] text-[#2A2A2A] border-[#2A2A2A] border-t-2 border-b-2 text-center;
}

.popularctg-list{
  @apply flex flex-col w-full h-fit gap-8
}

.popularctg-card{
  @apply flex flex-col w-full h-fit gap-5 
}

.popularctg-card-title{
  font-family: "Poppins";
  @apply flex py-5 text-[48px] text-[#2A2A2A] border-b-2 border-[#2A2A2A]
}

.popularctg-card-media{
  @apply w-full h-[400px] 
}

.popularctg-card-media img{
  @apply w-full h-full object-cover;
}

.popularctg-card-link{
  font-family: "Poppins";
  @apply h-fit w-full flex items-end justify-end py-3 border-[#2A2A2A] border-t-2 border-b-2 text-[24px] text-[#2A2A2A];
}

.popularctg-list-2{
  @apply flex flex-row gap-10 max-md:flex-col max-md:gap-8;
}
